.header, .hero , .body, .bar, .footer {
    margin-bottom: 10px;
    background-color: teal;
}
.box {
    margin: 10px 0;
    min-height: 80px;
    background-color: red;
    color: white;
    font-size: 30px;
}
.rid {
    background-color: lime;
}
.five {
    background-color: rgb(52, 34, 139);
}